<div class="product__sidebar">
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>@Title</h5>
        </div>
        @foreach (var item in lstProduct)
        {
            <div class="product__sidebar__comment__item">
                <div class="product__sidebar__comment__item__pic">
                    <img src="@item.ImageURL" alt="@item.Name">
                </div>
                <div class="product__sidebar__comment__item__text">
                    <ul>
                        <li>@item.CategoryName</li>
                        <li>@item.IsLimited</li>
                    </ul>
                    <h5><a href="@item.TagName">@item.Name</a></h5>
                    <span><i class="fa fa-book"></i> @item.PublishName</span>
                </div>
            </div>
        }
    </div>
</div>
@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public int? CategoryId { get; set; }

    [Parameter]
    public int? Count { get; set; }

    private List<Product>? lstProduct;

    protected override async Task OnInitializedAsync()
    {
        lstProduct = new List<Product>();


        lstProduct.Add(new Product
            {
                ProductId = 1,
                Name = "The Seven Deadly Sins: Wrath of the Gods",
                TagName = "news/" + "The Seven Deadly Sins: Wrath of the Gods",
                CategoryName = "Truyện Tranh",
                ImageURL = "img/sidebar/comment-1.jpg",
                PublishName = "NXB Kim Đồng"
            });
        lstProduct.Add(new Product
            {
                ProductId = 2,
                Name = "Gintama Movie 2: Kanketsu-hen - Yorozuya yo Eien",
                TagName = "news/" + "Gintama Movie 2: Kanketsu-hen - Yorozuya yo Eien",
                CategoryName = "Truyện Tranh",
                ImageURL = "img/sidebar/comment-2.jpg",
                PublishName = "NXB Kim Đồng"
            });
        lstProduct.Add(new Product
            {
                ProductId = 3,
                Name = "Shingeki no Kyojin Season 3 Part 2",
                TagName = "news/" + "Shingeki no Kyojin Season 3 Part 2",
                CategoryName = "Truyện Tranh",
                ImageURL = "img/sidebar/comment-3.jpg",
                PublishName = "NXB Kim Đồng"
            });
        lstProduct.Add(new Product
            {
                ProductId = 4,
                Name = "Fullmetal Alchemist: Brotherhood",
                TagName = "news/" + "Fullmetal Alchemist: Brotherhood",
                CategoryName = "Truyện Tranh",
                ImageURL = "img/sidebar/comment-4.jpg",
                PublishName = "NXB Kim Đồng"
            });

        await Task.Delay(0);
    }

    public class Product
    {
        public int ProductId { get; set; }

        public string? Name { get; set; }

        public string? TagName { get; set; }

        public string? ImageURL { get; set; }

        public int IsValue { get; set; }

        public string? PublishName { get; set; }

        public int CategoryId { get; set; }

        public string? CategoryName { get; set; }

        public bool IsLimited { get; set; }
    }
}
